{% extends "registration/base.html" %}
{% load staticfiles %}
{% url 'coach_portal' as portal %}

{% block title %}Sign In{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'validate/css/bootstrapValidator.min.css' %}">
<style>
  #logform{
    width: 300px;
    margin: 0 auto;
  }
  #log{
    border-left: 1px solid black;
  }
</style>
{% endblock %}

{% block content %}

<div class="col-md-6">
  <form id="logform" role="form" name="LoginForm" action="/login/" method="post">
    {% csrf_token %}
      <input type="hidden" name="next" value="{% firstof next portal %}" />
      <p>{{portal}}</p>
    <h2 class="form-signin-heading">Sign In</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button class="btn btn-success btn-block" type="submit">Sign in</button>
</div>
<div class="col-md-6" id="log">
  </form>
    <form id="logform" role="form" name="LoginForm" action="/login/" method="post">
    {% csrf_token %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <h2 class="form-signin-heading">Sign In</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button class="btn btn-success btn-block" type="submit">Sign in</button>
  </form>
<!--   </br>
  <p class="text-center">If you don't have an account, please <a href="{% url 'registration' %}">register!</a></p> -->

</div> <!-- /container -->
  
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'validate/js/bootstrapValidator.min.js' %}"></script>
<script>
$(document).ready(function() {
    $("#logform").bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'fa fa-check',
            invalid: 'fa fa-times',
            validating: 'fa fa-refresh'
        }
        submitButtons: 'button[type="submit"]',
        submitHandler: null,
        live: 'enabled',
        fields: {
          username: {
            validators: {
              notEmpty: {
                message: 'Username is required'
              }
            }
          },
          password: {
            validators: {
              notEmpty: {
                messaage: 'Password is required'
              }
            }
          }
        }
    });
});
</script>
{% endblock %}
