{% extends "management/index_team.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'validate/css/bootstrapValidator.min.css' %}" type='text/css'/>
<style type='text/css'>
  #seasonform{
    width: 300px;
    margin: 0 auto;
  }
  #wrapper{
    padding-right: 225px;
  }
  .btn-success{
    margin-top: 0px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 col-md-offset-3" id="team_form">
      <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">Add Season</h3>
        </div>
        <div class="box-body" style="display: block;">
          <form id="seasonform" class="form-signin" action="{% url 'add_season' username=user.username name=name %}" role="form" method="post">
              {% csrf_token %}
              {% if next %}
                  <input type="hidden" name="next" value="{{ next }}" />
              {% endif %}
              {{ form | as_bootstrap }}
              <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div><!-- /.box-body -->
    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script type='text/javascript' src="{% static 'validate/js/bootstrapValidator.min.js' %}"></script>
<script type='text/javascript'>
    $("#div_id_team").hide();
    // var k = $("#id_team").text("{{name}}").val();
    $(function() {
        $('[name=team] option').filter(function() {
            return ($(this).text() == '{{name}}');
        }).prop('selected', true);
    });

    $(document).ready(function() {
      $("#seasonform").bootstrapValidator({
        feedbackIcons: {
          valid: 'fa fa-check',
          invalid: 'fa fa-times',
          validating: 'fa fa-refresh'
        },
        fields: {
          year: {
            message: 'Season year is not valid',
            validators: {
              notEmpty: {
                message: 'Season year is required'
              },
            }
          },
        }
      });
    });
</script>
{% endblock %}