{% load staticfiles %}
{% load firstof from future %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>MyStatBook</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'sb-admin/css/bootstrap.css' %}" rel="stylesheet">

        <!-- Add custom CSS here -->
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
        <link rel="stylesheet" href="{% static 'sb-admin/css/sb-admin.css' %}">
        <link rel="stylesheet" href="{% static 'sb-admin/font-awesome/css/font-awesome.min.css' %}">
        <link href='//fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

        <style>
        html,
        body {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-style: none;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        </style>
        {% block extrastyle %}{% endblock %}
    </head>
    {% load i18n %}
    <body>

        {% block nav %}{% endblock %}
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}

        <!-- JavaScript -->
        <script src="{% static 'sb-admin/js/jquery-1.10.2.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'sb-admin/js/bootstrap.js' %}"></script>
        {% block extrascript %}{% endblock %}
    </body>
</html>