{% load staticfiles %}
{% load firstof from future %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>MyStatBook</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'sb-admin/css/bootstrap.css' %}" rel="stylesheet" type='text/css' />

        <!-- Add custom CSS here -->
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type='text/css'/>
        <link rel="stylesheet" href="{% static 'sb-admin/css/sb-admin.css' %}" type='text/css'/>
        <link rel="stylesheet" href="{% static 'sb-admin/font-awesome/css/font-awesome.min.css' %}" type='text/css'/>

        <link rel="stylesheet" href="{% static 'css/statbook.css' %}" type='text/css'/>
        <link href='//fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'/>

        <style type='text/css' >
        html,
        body {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-style: bold;
        }
        </style>
        {% block extrastyle %}{% endblock %}
    </head>
    {% load i18n %}
    <body>

        <div id="wrapper">
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'coach_portal' username=user.username %}"><i class="fa fa-clipboard fa-3"></i> MyStatBook</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="mainNavigation">
                    <ul class="nav navbar-nav navbar-left">
                        {% block teamlinks %}{% endblock %} 
                    </ul>

                    {% block sidelinks %}{% endblock %}

                    <ul class="nav navbar-nav navbar-right navbar-user">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i> {% filter force_escape %}{% firstof user.username %}{% endfilter %} 
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'user_settings' user.username %}"><i class="fa fa-cogs"></i> Settings</a></li>
                                {% url 'logout_page' as logout_url %}
                                <li><a href="{{ logout_url }}"><i class="fa fa-sign-out"></i> {% trans 'Log out' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                {% block header %}{% endblock %}
                {% block content %}{% endblock %}
            </div><!-- /#page-wrapper -->

        </div><!-- /#wrapper -->

        <!-- JavaScript -->
        <script type='text/javascript' src="{% static 'sb-admin/js/jquery-1.10.2.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/jquery-ui.js' %}"></script>
        <script type='text/javascript' src="{% static 'sb-admin/js/bootstrap.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/app.js' %}" type="text/javascript"></script>
        {% block extrascript %}{% endblock %}
        <script type='text/javascript' >
            $('#mainNavigation a').each(function(){
                var team = window.location.pathname.split("/")[3];
                $("a:contains('" + team + "')").parent().addClass("active");
            });
        </script>
    </body>
</html>