{% load staticfiles %}
<div id="field" class="col-md-10">
	<div id="catch1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.catch1}}</p></div>
	<div id="catch2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.catch2}}</p></div>
	<div id="first1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.first1}}</p></div>
	<div id="first2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.first2}}</p></div>
	<div id="second1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.second1}}</p></div>
	<div id="second2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.second2}}</p></div>
	<div id="short1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.short1}}</p></div>
	<div id="short2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.short2}}</p></div>
	<div id="third1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.third1}}</p></div>
	<div id="third2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.third2}}</p></div>
	<div id="left1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.left1}}</p></div>
	<div id="left2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.left2}}</p></div>
	<div id="center1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.center1}}</p></div>
	<div id="center2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.center2}}</p></div>
	<div id="right1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.right1}}</p></div>
	<div id="right2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.right2}}</p></div>
	<div id="starter1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.starter1}}</p></div>
	<div id="starter2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.starter2}}</p></div>
	<div id="starter3" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.starter3}}</p></div>
	<div id="starter4" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.starter4}}</p></div>
	<div id="relief1" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.relief1}}</p></div>
	<div id="relief2" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.relief2}}</p></div>
	<div id="relief3" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.relief3}}</p></div>
	<div id="relief4" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.relief4}}</p></div>
	<div id="dh" class="ui-widget-header text-center droppable"><p class="dropElement">{{depth.dh}}</p></div>
</div>
<div class="col-md-2">
	{% for p in players %}
	<div class="draggable text-center">
	  <p>{{p.first_name}} {{p.last_name}}</p>
	</div>
	{% endfor %}
	<button type="button" class="btn btn-primary" id="save_depth_chart">Save Changes</button>
</div>