{% extends "management/season_detail.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
<h1>{{name}} {{year}} <small>Depth Chart</small></h1>
{% endblock %}

{% block content %}
<div id='pageCenter'>
	<div id="field" class="col-md-10">
		<div id="saveWarning">** Be sure to save your changes! **</div>
		<div id="catch1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Catcher"></p></div>
		<div id="catch2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Catcher"></p></div>
		<div id="first1" class="ui-widget-header text-center droppable"><p class="dropElement" id="First Base"></p></div>
		<div id="first2" class="ui-widget-header text-center droppable"><p class="dropElement" id="First Base"></p></div>
		<div id="second1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Second Base"></p></div>
		<div id="second2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Second Base"></p></div>
		<div id="short1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Shortstop"></p></div>
		<div id="short2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Shortstop"></p></div>
		<div id="third1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Third Base"></p></div>
		<div id="third2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Third Base"></p></div>
		<div id="left1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Left Field"></p></div>
		<div id="left2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Left Field"></p></div>
		<div id="center1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Center Field"></p></div>
		<div id="center2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Center Field"></p></div>
		<div id="right1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Right Field"></p></div>
		<div id="right2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Right Field"></p></div>
		<div id="starter1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Starting Pitcher"></p></div>
		<div id="starter2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Starting Pitcher"></p></div>
		<div id="starter3" class="ui-widget-header text-center droppable"><p class="dropElement" id="Starting Pitcher"></p></div>
		<div id="starter4" class="ui-widget-header text-center droppable"><p class="dropElement" id="Starting Pitcher"></p></div>
		<div id="relief1" class="ui-widget-header text-center droppable"><p class="dropElement" id="Relief Pitcher"></p></div>
		<div id="relief2" class="ui-widget-header text-center droppable"><p class="dropElement" id="Relief Pitcher"></p></div>
		<div id="relief3" class="ui-widget-header text-center droppable"><p class="dropElement" id="Relief Pitcher"></p></div>
		<div id="relief4" class="ui-widget-header text-center droppable"><p class="dropElement" id="Relief Pitcher"></p></div>
		<div id="dh" class="ui-widget-header text-center droppable"><p class="dropElement" id="Designated Hitter"></p></div>

		<div id="catch1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Catcher">{{depth.catch1}}</p></div>
		<div id="catch2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Catcher">{{depth.catch2}}</p></div>
		<div id="first1" class="ui-widget-header text-center draggable"><p class="dragElement" id="First Base">{{depth.first1}}</p></div>
		<div id="first2" class="ui-widget-header text-center draggable"><p class="dragElement" id="First Base">{{depth.first2}}</p></div>
		<div id="second1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Second Base">{{depth.second1}}</p></div>
		<div id="second2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Second Base">{{depth.second2}}</p></div>
		<div id="short1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Shortstop">{{depth.short1}}</p></div>
		<div id="short2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Shortstop">{{depth.short2}}</p></div>
		<div id="third1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Third Base">{{depth.third1}}</p></div>
		<div id="third2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Third Base">{{depth.third2}}</p></div>
		<div id="left1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Left Field">{{depth.left1}}</p></div>
		<div id="left2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Left Field">{{depth.left2}}</p></div>
		<div id="center1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Center Field">{{depth.center1}}</p></div>
		<div id="center2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Center Field">{{depth.center2}}</p></div>
		<div id="right1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Right Field">{{depth.right1}}</p></div>
		<div id="right2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Right Field">{{depth.right2}}</p></div>
		<div id="starter1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Starting Pitcher">{{depth.starter1}}</p></div>
		<div id="starter2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Starting Pitcher">{{depth.starter2}}</p></div>
		<div id="starter3" class="ui-widget-header text-center draggable"><p class="dragElement" id="Starting Pitcher">{{depth.starter3}}</p></div>
		<div id="starter4" class="ui-widget-header text-center draggable"><p class="dragElement" id="Starting Pitcher">{{depth.starter4}}</p></div>
		<div id="relief1" class="ui-widget-header text-center draggable"><p class="dragElement" id="Relief Pitcher">{{depth.relief1}}</p></div>
		<div id="relief2" class="ui-widget-header text-center draggable"><p class="dragElement" id="Relief Pitcher">{{depth.relief2}}</p></div>
		<div id="relief3" class="ui-widget-header text-center draggable"><p class="dragElement" id="Relief Pitcher">{{depth.relief3}}</p></div>
		<div id="relief4" class="ui-widget-header text-center draggable"><p class="dragElement" id="Relief Pitcher">{{depth.relief4}}</p></div>
		<div id="dh" class="ui-widget-header text-center draggable"><p class="dragElement" id="Designated Hitter">{{depth.dh}}</p></div>
	</div>
	<div class="col-md-2">
		{% for p in players %}
		<div class="draggable text-center">
		  <p>{{p.first_name|slice:":1"}}. {{p.last_name}}</p>
		</div>
		{% endfor %}
		<button type="button" class="btn btn-primary pull-right button-margin" id="save_depth_chart">Save Changes</button>
		<button type="button" class="btn btn-danger pull-right button-margin" id="reset_chart">Reset Chart</button>
		<div id="save_confirm" class="pull-right" style="margin-top:10px;"></div>
		<div id="emptydiv"></div>
	</div>
	<div class="col-md-2" id="sidebar">
		<div id="deleteDrop" class="droppable pull-right"></div>
	</div>
</div>

<!-- Jake's Fake Model-->
<div id="editPlayerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="myModalLabel1">Edit Position</h3>
			</div>
			<div class="modal-body">
				<form role="form" class="chart_form" id="form" action="{% url 'depth_chart' username=user name=name year=year %}" method="post">
					{% csrf_token %}
					<input type="hidden" class="form-group" id="id_pk" name="pk" value="change_this">
					<div class="form-group">
						{{ form }}
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-danger pull-left" name="delete" id="deleteButton">Delete</button>
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
						<button type="submit" class="btn btn-primary" name="update_modal" id="submitButton">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extrascript %}
<script>
	$(window).bind('beforeunload', function(){
		if ($('#saveWarning').css('display') == 'block'){
	  		return 'There are unsaved changes on your Depth Chart.';
		}
	});

	$('#reset_chart').click(function() {
		$('.dragElement').each(function() {
			$('#editPlayerModal #id_' + $(this).parent().attr('id')).val($(this).attr('id'));
			$(this).text($(this).attr('id'));
		});
		$('#saveWarning').css('display', 'block');
		checkPlayerStatus();
	});
    $( document ).ready(function() {
    	$('#editPlayerModal #id_team').val("{{teams.0.pk}}");
        $('#save_depth_chart').click(function() {
            $('#submitButton').click();
        });
        checkPlayerStatus();
        $( ".draggable" ).draggable({ snap: ".ui-widget-header", helper: "clone" });
        $( ".droppable" ).droppable({
            drop: function( event, ui ) {
            	if ($(this).attr('id') != ui.draggable.attr('id')) {
            		if ($(this).attr('id') != "deleteDrop") {
	            		var keepString = $(this).children().attr('id');
		                $( this ).find( "p" ).text(ui.draggable.text());	
		                // console.log(ui.draggable.text());	      
		                $('#' + $(this).attr('id') + '.draggable').find('p').text(ui.draggable.text());
		                if ($('#' + $(this).attr('id') + '.draggable').find('p').text() == "") {
		                	console.log("ERROR");
		                	console.log("drag text: ", ui.draggable.text());
		                }
		                // console.log($('#' + $(this).attr('id') + '.draggable').find('p').text());
		                var position_id = $(this).attr("id") ;
		                var player = ui.helper.context.innerText;
		                $('#editPlayerModal #id_' + position_id).val(player);
		                $(this).removeClass("position-danger");
		                $('#' + $(this).attr('id') + '.draggable').removeClass('position-danger');
		            }
		            $('#saveWarning').css('display', 'block');

	                var drag_id = ui.draggable.attr('id');
	                var default_string = ui.draggable.children().attr('id');
	                ui.draggable.children().text(ui.draggable.children().attr('id'));
	                ui.draggable.addClass('position-danger');
	                $('#editPlayerModal #id_' + drag_id).val(default_string);
            	}

            }
        });
    });

	function checkPlayerStatus() {
		$('.dragElement').each(function() {
            if ($(this).text() == "Left Field" ||
                $(this).text() == "Center Field" ||
                $(this).text() == "Right Field" ||
                $(this).text() == "Shortstop" ||
                $(this).text() == "Second Base" ||
                $(this).text() == "Third Base" ||
                $(this).text() == "Starting Pitcher" ||
                $(this).text() == "First Base" ||
                $(this).text() == "Relief Pitcher" ||
                $(this).text() == "Catcher" ||
                $(this).text() == "Designated Hitter") {
                    $(this).parent().addClass("position-danger");
            }
        });
        $('.dropElement').each(function() {
            if ($(this).text() == "Left Field" ||
                $(this).text() == "Center Field" ||
                $(this).text() == "Right Field" ||
                $(this).text() == "Shortstop" ||
                $(this).text() == "Second Base" ||
                $(this).text() == "Third Base" ||
                $(this).text() == "Starting Pitcher" ||
                $(this).text() == "First Base" ||
                $(this).text() == "Relief Pitcher" ||
                $(this).text() == "Catcher" ||
                $(this).text() == "Designated Hitter") {
                    $(this).parent().addClass("position-danger");
            }
        });
	}

	$('.chart_form').submit(function (e) {
		e.preventDefault();
		$.ajax({
			type: 'post',
			url : "{% url 'depth_chart' username=user name=name year=year %}",
			data : $(this).serialize(),
			success: function(data){
				$('#depthchart').html(data);
				$('#save_confirm').text('Chart has been saved!');
				$('#saveWarning').css("display", "none");
				setTimeout(function() {
				    $('#save_confirm').fadeOut('fast');
				}, 3000); // <-- time in milliseconds
			}
		});
	});

</script>
{% endblock %}