{% load staticfiles %}
<table class="table table-bordered table-striped" id="game_list">
	<thead>
		<tr class="text-center">
			<th class="text-center">Date</th>
			<th class="text-center">Opponent</th>
			<th class="text-center">Location</th>
			<th class="text-center">Time</th>
			<th class="text-center">Doubleheader</th>
			<th class="text-center">Box Score</th>
			<th class="text-center">Delete</th>
		</tr>
	</thead>
	<tbody data-link="row" class="rowlink">
		{% for g in games %}
		<tr {% if g.conference %}class="bold"{% endif %}>
			<td class="text-center">{{g.date}}</td>
			<td class="text-center">{{g.opponent}}</td>
			<td class="text-center">{{g.location}}</td>
			<td class="text-center">{{g.time}}</td>
			<td class="text-center">{% if g.doubleheader %}<i class="fa fa-check-circle"></i>{% else %}<i class="fa fa-times-circle"></i>{% endif %}</td>
			<td class="text-center"><a class="game" href="#" data-form="{% url 'game_stats' username=user name=name year=year pk=g.pk %}"><button type="button" class="btn btn-primary btn-xs" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Box Score</button></td>
			<td class="text-center">
				<form action="" class="delete_form" method=post>
					{% csrf_token %}
					<input type="hidden" value="{{g.id}}" name="delete">
					<button type="submit" class="btn btn-danger btn-xs delete_btn"><i class="fa fa-trash-o"></i></button>
				</form>
			</td>
		</tr>
		{% endfor %}
		<form class="form-inline add_game" action="{% url 'game_list' username=user name=name year=year %}" method=post>
			{% csrf_token %}
			<tr class="text-center">
				<th id="game_season" style="display:none;">{{form.season}}</th>
				<th class="text-center">{{form.date}}</th>
				<th class="text-center">{{form.opponent}}</th>
				<th class="text-center">{{form.location}}</th>
				<th class="text-center" id="game_time">{{form.time}}<input id='id_time2' name='time2' type='hidden'></th>
				<td class="text-center"><label for="id_doubleheader" style="font-size:.9em;">Doubleheader</label> <br> {{form.doubleheader}}</td>
				<td class="text-center"><label for="id_doubleheader" style="font-size:.9em;">Conference</label> <br> {{form.conference}}</td>
				<th class="text-center no-sort"><button type="submit" class="btn btn-primary">Save</button></th>
			</tr>
		</form>
	</tbody>
</table>
<p>*<strong>Bold</strong> indicates conference games</p> 
<div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<script>
   $(".game").click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the contact form url
        $("#statsModal").load(url, function() { // load the url into the modal
            $('#statsModal').modal('show'); // display the modal on url load
        });
        return false; // prevent the click propagation
    });
    $('.stats-form').on('submit', function() {
        $.ajax({
            type: $(this).attr('method'),
            url: this.action,
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#statsModal').html(data);
            }
        });
        return false;
    });
	$('#id_date').datepicker({format: 'yyyy-mm-dd'});
	$('#game_season select[name="season"]').val({{season.id}});

	$(function(){
		var i = 1;
		$('#id_doubleheader').click(function(){
			if ($(this).is(':checked')){
				$("#id_time2").attr({ type: "text" });
			} else {
				$("#id_time2").attr({ type: "hidden" });
			}
		});
	});

	$('.delete_form').submit(function (e) {
		e.preventDefault();
		$.ajax({
			type: 'post',
			url : "{% url 'game_list' username=user name=name year=year %}",
			data : $(this).serialize(),
			success: function(data){
				$('#schedule').html(data);
			}
		});
	});

	$('.add_game').submit(function (e) {
		e.preventDefault();
		$.ajax({
			type: 'post',
			url : "{% url 'game_list' username=user name=name year=year %}",
			data : $(this).serialize(),
			success: function(data){
				$('#schedule').html(data);
			}
		});
	});

	$(".bold").css({'font-weight':'bold'});
	$(".fa-times-circle").css({'color':'red'});
	$(".fa-check-circle").css({'color':'green'});
</script>
