{% load staticfiles %}
{% load bootstrap_tags %}
<style>
    input[type="number"]{
      font-size: 1rem;
      border: 0;
      color: black;
      outline: none;
      width: 2rem;
      margin: auto .75rem;
      text-align: center;
    }

    input[type='number']:valid{
      border-bottom: 2px dotted black;
      color: black;
    }

    input[type="number"]:focus{
      border-bottom: 2px solid black;
      color: black;
    }
	input {
	    text-align: center;
	}
</style>
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>{{game.opponent}} {{ game.date }}</h3>
		</div>
		<div class="modal-body">
			<form class="stats-form form-inline" method="post" action="{% url 'game_stats' username=user.username name=name year=year pk=pk %}">
				{% csrf_token %}
				<h3>Batting Stats</h3>
				<fieldset>
					{{ formset.management_form }}
						<table class="table" id="hitter_tab">
							<thead>
								<tr>
									<th class="text-center">Player</th>
									<th class="text-center">AB</th>
									<th class="text-center">R</th>
									<th class="text-center">H</th>
									<th class="text-center">2B</th>
									<th class="text-center">3B</th>
									<th class="text-center">HR</th>
									<th class="text-center">RBI</th>
									<th class="text-center">BB</th>
									<th class="text-center">HBP</th>
									<th class="text-center">SF</th>
									<th class="text-center">K</th>
								</tr>
							</thead>
							<tbody class="hitter_body">
								{% for form in formset %}
									<tr class="hit_stats text-center">
										{{form.id}}
										<td id="game" style="display:none;">{{form.game}}</td>
										<td>{{form.player}}</td>
										<td>{{form.at_bats}}</td>
										<td>{{form.runs}}</td>
										<td>{{form.hits}}</td>
										<td>{{form.doubles}}</td>
										<td>{{form.triples}}</td>
										<td>{{form.hr}}</td>
										<td>{{form.rbi}}</td>
										<td>{{form.walks}}</td>
										<td>{{form.hbp}}</td>
										<td>{{form.sacrafice}}</td>
										<td>{{form.strikeouts}}</td>
									</tr>
								{% endfor %}
								<hr>
							</tbody>
						</table>
				</fieldset>
				<p><a href="#" id="add_hit"><i class="fa fa-plus"></i> Add another batter</a></p>
			    <fieldset>
				{{ formset2.management_form }}
					<h3>Pitching Stats</h3>
					<table class="table" id="pitcher_tab">
						<thead>
							<tr>
								<th class="text-center">Player</th>
								<th class="text-center">SP</th>
								<th class="text-center">Inn</th>
								<th class="text-center">H</th>
								<th class="text-center">R</th>
								<th class="text-center">ER</th>
								<th class="text-center">BB</th>
								<th class="text-center">K</th>
								<th class="text-center">WP</th>
								<th class="text-center">HBP</th>
								<th class="text-center">W</th>
								<th class="text-center">L</th>
								<th class="text-center">SV</th>
							</tr>
						</thead>
						<tbody class="pitcher_body">
							{% for form2 in formset2 %}
								<tr class="hit_stats text-center">
									{{form2.id}}
									<td id="game2" style="display:none;">{{form2.game}}</td>
									<td>{{form2.player}}</td>
									<td id="starting">{{form2.starting_pitcher}}</td>
									<td>{{form2.full_innings}}.{{form2.part_innings}}</td>
									<td>{{form2.hits_allowed}}</td>
									<td>{{form2.runs_allowed}}</td>
									<td>{{form2.earned_runs}}</td>
									<td>{{form2.walks_allowed}}</td>
									<td>{{form2.strikeout_amount}}</td>
									<td>{{form2.wild_pitches}}</td>
									<td>{{form2.hit_by_pitch}}</td>
									<td>{{form2.win}}</td>
									<td>{{form2.loss}}</td>
									<td>{{form2.sv}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</fieldset>
				<p><a href="#" id="add_pitch"><i class="fa fa-plus"></i> Add another pitcher</a></p>

				<div class="modal-footer">
				    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				    <button type="submit" name="add_stats" id="add_stats" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% block extrascript %}
<script>
	$(document).ready(function () {
		var val = $("#id_hit-INITIAL_FORMS").val();
		var val2 = $("#id_pitch-INITIAL_FORMS").val();
		if (val < 9){
			hit_initial = 9;
		}else{
			hit_initial = parseInt(val)+1;
		}
		var pitch_initial = parseInt(val2)+1;

		$('#hitter_tab tbody tr').hide();
		$("#hitter_tab tbody tr:lt(" + hit_initial + ")").show();

		var j = hit_initial+1;
		$('#add_hit').click(function (){
			$("#hitter_tab tbody tr:lt(" + j + ")").show();
			j = j + 1;
		});

		$('#pitcher_tab tbody tr').hide();
		$("#pitcher_tab tbody tr:lt(" + pitch_initial + ")").show();

		var i = pitch_initial+1;
		$('#add_pitch').click(function (){
			$("#pitcher_tab tbody tr:lt(" + i + ")").show();
			i = i + 1;
		});

	});
</script>
{% endblock %}