{% load staticfiles %}
{% load bootstrap_tags %}
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h3>{{game.opponent}} {{ game.date }}</h3>
		</div>
		<div class="modal-body">
			<form class="stats-form form-inline" method="post" action="{% url 'game_stats' username=user name=name year=year pk=pk %}">
				{% csrf_token %}
				<h3>Hitting Stats</h3>
				<fieldset>
					{{ formset.management_form }}
						<table class="table" id="hitter_tab">
							<thead>
								<tr>
									<th class="text-center">Player</th>
									<th class="text-center">AB</th>
									<th class="text-center">R</th>
									<th class="text-center">H</th>
									<th class="text-center">2B</th>
									<th class="text-center">3B</th>
									<th class="text-center">HR</th>
									<th class="text-center">RBI</th>
									<th class="text-center">BB</th>
									<th class="text-center">HBP</th>
									<th class="text-center">SF</th>
									<th class="text-center">K</th>
								</tr>
							</thead>
							<tbody class="hitter_body">
								{% for form in formset %}
									<tr class="hit_stats text-center">
										{{form.id}}
										<td id="game" style="display:none;">{{form.game}}</td>
										<td>{{form.player}}</td>
										<td>{{form.at_bats}}</td>
										<td>{{form.runs}}</td>
										<td>{{form.hits}}</td>
										<td>{{form.doubles}}</td>
										<td>{{form.triples}}</td>
										<td>{{form.hr}}</td>
										<td>{{form.rbi}}</td>
										<td>{{form.walks}}</td>
										<td>{{form.hbp}}</td>
										<td>{{form.sacrafice}}</td>
										<td>{{form.strikeouts}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
				</fieldset>
				<p><a href="#" id="add_hit"><i class="fa fa-plus"></i> Add another hitter</a></p>
			    <fieldset>
				{{ formset2.management_form }}
					<h3>Pitching Stats</h3>
					<table class="table" id="pitcher_tab">
						<thead>
							<tr>
								<th class="text-center">Player</th>
								<th class="text-center">SP</th>
								<th class="text-center">Inn</th>
								<th class="text-center">H</th>
								<th class="text-center">R</th>
								<th class="text-center">ER</th>
								<th class="text-center">BB</th>
								<th class="text-center">K</th>
								<th class="text-center">WP</th>
								<th class="text-center">HBP</th>
								<th class="text-center">W</th>
								<th class="text-center">L</th>
								<th class="text-center">SV</th>
							</tr>
						</thead>
						<tbody class="pitcher_body">
							{% for form2 in formset2 %}
								<tr class="hit_stats text-center" id="pitch_stats">
									{{form2.id}}
									<td id="game2" style="display:none;">{{form2.game}}</td>
									<td>{{form2.player}}</td>
									<td>{{form2.starting_pitcher}}</td>
									<td>{{form2.full_innings}}.<span id="partial">{{form2.part_innings}}</span></td>
									<td>{{form2.hits_allowed}}</td>
									<td>{{form2.runs_allowed}}</td>
									<td>{{form2.earned_runs}}</td>
									<td>{{form2.walks_allowed}}</td>
									<td>{{form2.strikeout_amount}}</td>
									<td>{{form2.wild_pitches}}</td>
									<td>{{form2.hit_by_pitch}}</td>
									<td>{{form2.win}}</td>
									<td>{{form2.loss}}</td>
									<td>{{form2.sv}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</fieldset>
				<p><a href="#" id="add_pitch"><i class="fa fa-plus"></i> Add another pitcher</a></p>

				<div class="modal-footer">
				    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				    <button type="submit" name="add_stats" id="add_stats" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% block extrascript %}
<script>

	$(document).ready(function () {
	    // Code adapted from http://djangosnippets.org/snippets/1389/  
	    function updateElementIndex(el, prefix, ndx) {
	        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
	        var replacement = prefix + '-' + ndx + '-';
	        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
	        replacement));
	        if (el.id) el.id = el.id.replace(id_regex, replacement);
	        if (el.name) el.name = el.name.replace(id_regex, replacement);
	    }

	    // function deleteForm(btn, prefix) {
	    //     var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
	    //     if (formCount > 1) {
	    //         // Delete the item/form
	    //         $(btn).parents('.item').remove();
	    //         var forms = $('.item'); // Get all the forms  
	    //         // Update the total number of forms (1 less than before)
	    //         $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
	    //         var i = 0;
	    //         // Go through the forms and set their indices, names and IDs
	    //         for (formCount = forms.length; i < formCount; i++) {
	    //             $(forms.get(i)).children().children().each(function () {
	    //                 if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
	    //             });
	    //         }
	    //     } // End if
	    //     else {
	    //         alert("You have to enter at least one todo item!");
	    //     }
	    //     return false;
	    // }

	    function addHitForm(btn, prefix) {
	        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
	        // You can only submit a maximum of 10 todo items 
	        if (formCount < 13) {
	            // Clone a form (without event handlers) from the first form
	            var row = $(".hitter_body").children('tr:first').clone(false).get(0);
	            // Insert it after the last form
	            $(row).removeAttr('id').hide().insertAfter("#hitter_tab tr:last").slideDown(300);

	            // Remove the bits we don't want in the new row/form
	            // e.g. error messages
	            // $(".errorlist", row).remove();
	            // $(row).children().removeClass("error");

	            // Relabel or rename all the relevant bits
	            $(row).children().children().each(function () {
	                updateElementIndex(this, prefix, formCount);
	                $(this).val("");
	            });

	            // Add an event handler for the delete item/form link 
	            // $(row).find(".delete").click(function () {
	            //     return deleteForm(this, prefix);
	            // });
	            // Update the total form count
	            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
	        } // End if
	        else {
	            alert("Sorry, you can only enter a maximum of ten items.");
	        }
	        return false;
	    }

	   	function addPitchForm(btn, prefix) {
	        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
	        // You can only submit a maximum of 10 todo items 
	        if (formCount < 6) {
	            // Clone a form (without event handlers) from the first form
	            var row = $(".pitcher_body").children('tr:first').clone(false).get(0);
	            // Insert it after the last form
	            $(row).removeAttr('id').hide().insertAfter("#pitcher_tab tr:last").slideDown(300);

	            // Remove the bits we don't want in the new row/form
	            // e.g. error messages
	            // $(".errorlist", row).remove();
	            // $(row).children().removeClass("error");

	            // Relabel or rename all the relevant bits
	            $(row).children().children().each(function () {
	                updateElementIndex(this, prefix, formCount);
	                $(this).val("");
	            });

	            // Add an event handler for the delete item/form link 
	            // $(row).find(".delete").click(function () {
	            //     return deleteForm(this, prefix);
	            // });
	            // Update the total form count
	            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
	        } // End if
	        else {
	            alert("Sorry, you can only enter a maximum of ten items.");
	        }
	        return false;
	    }
	    // Register the click event handlers
	    $("#add_hit").click(function () {
	        return addHitForm(this, "hit");
	    });
	   	$("#add_pitch").click(function () {
	        return addPitchForm(this, "pitch");
	    });

	    // $(".delete").click(function () {
	    //     return deleteForm(this, "form");
	    // });
	});
</script>
{% endblock %}