{% extends "management/base2.html" %}
{% load i18n %}



{% block teamlinks %}
		{% for t in teams %}
		<li class="dropdown">
			<a href="{% url 'season_detail' username=t.coach name=t.name year=t.latest_year.year %}" class="dropdown-toggle" data-toggle="dropdown">{{t.name}} <i class="fa fa-caret-down"></i></a>
			<ul class="dropdown-menu">
				{% for s in t.season_set.all %}
					<li><a href="{% url 'season_detail' username=user name=t.name year=s.year %}">{{s.year}}</a></li>
				{% endfor %}
				<li id="add-season"><a href="{% url 'add_season' username=user name=t.name %}"><i class="fa fa-plus"></i> New Season</a></li>
			</ul>
		</li>
		{% endfor %}
		<li><a href="{% url 'add_team' username=user.username %}"><i class="fa fa-plus"></i> Add Team</a></li>
{% endblock %}
<!-- Content -->

{% block content %}

{% endblock %}
