{% extends "management/base3.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load i18n %}

{% block extrastyle %}
<style type='text/css'>
body{
	background-color: #E4E4E4;
}
#f1_container {
  position: relative;
  /*width: 300px;*/
  height: 300px;
  z-index: 1;
  margin-bottom: 20px;
}
#f1_container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
#f1_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transform-style: preserve-3d;
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transform-style: preserve-3d;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transform-style: preserve-3d;
  -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-box-shadow: -5px 5px 5px #aaa;
  -moz-box-shadow: -5px 5px 5px #aaa;
  -0-box-shadow: -5px 5px 5px #aaa;
  -ms-box-shadow: -5px 5px 5px #aaa;
  box-shadow: -5px 5px 5px #aaa;
}
#f1_container:hover #f1_card, #f1_container.hover_effect #f1_card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);

}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

}
.face.front{
  background-color: #ccc;
}
.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  -ms-transform: rotateY(180deg);
  -ms-box-sizing: border-box;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: #aaa;
}
.fa-6{
	font-size: 15em;
}
.add{
	background: transparent;
}
a{
	color: #008000;
}
a:hover{
	text-decoration: none;
	color: #33B333;
}
.Aligner {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-webkit-justify-content: center;
-moz-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
height: auto;
min-height: 21.5em;
}

.Aligner-item {
  max-width: 50%;
}
.circular {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url("{% static 'placeholder.png' %}") no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  }
#seasons{
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
#add_team_list{
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .add_team_card{
    display: none;
  }
  #add_team_list{
    display: block;
  }
}
</style>
{% endblock %}


{% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-clipboard fa-3"></i> MyStatBook</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="mainNavigation">
            <ul class="nav navbar-nav navbar-right navbar-user">
               <li><a href="{% url 'add_team' user.username %}" id="add_team_list"><i class="fa fa-plus"></i> Add Team</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> {% filter force_escape %}{% firstof user.username %}{% endfilter %} 
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user_settings' user.username %}"><i class="fa fa-cogs"></i> Settings</a></li>
                        {% url 'logout_page' as logout_url %}
                        <li><a href="{{ logout_url }}"><i class="fa fa-sign-out"></i> {% trans 'Log out' %}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <br>
    <div class="col-md-3"><h1>Select Team</h1></div>
  </div>
  <br>
  <div class="row">
  	{% for t in teamlist %}
  		<div id="f1_container" class="col-md-3">
        <a href="{% url 'season_detail' username=t.coach name=t.name year=t.latest_year.year %}">
    			<div id="f1_card" class="shadow">
    			  <div class="front face">
              <div class="Aligner">
    			  	  <div class="circular Aligner-Item" style="background: url({{t.get_logo}}) no-repeat; background-size: 100% 100%;">
                  <div class="text-center" style="margin-top: 210px;">
                    <h3>{{t.name}}</h3>
                  </div>
                </div>
              </div>
    			  </div>
    				<div class="back face center">
              <h3 class="text-center" id="seasons">Seasons</h3>
              <div>
      				  {% for s in t.season_set.all %}
                  {{s.year}}<br>
                {% endfor %}
              </div>
    				</div>
    			</div>
        </a>
  		</div>
  	{% endfor %}
  
    <div id="f1_container" class="col-md-3 add_team_card">
      <div id="f1_card" class="shadow">
        <div class="front face">
          <div class="Aligner">
            <div class="Aligner-Item">
                <i class="fa fa-plus-circle fa-6"></i>
                <div class="text-center" style="margin-top:-15px;">
                  <h3>Add Team</h3>
                </div>
            </div>
          </div>
        </div>
        <div class="back face center">
          <h3>Add Team</h3>
          <form id="teamform" class="form-signin" action="{% url 'add_team' username=user.username %}" role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.coach}}
            <div class="form-group">
              <input id="id_name" class="form-control" maxlength="50" name="name" type="text" placeholder="Team Name">
            </div>
            <div class="form-group">
              <input id="id_year" class="form-control" name="year" type="number" placeholder="Year">
            </div>
            <div class="form-group">
              <label for="id_logo">Upload Logo</label>
              <input id="id_logo" name="logo" type="file" accept="image/*">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

{% endblock %}

{% block extrascript %}
<script type='text/javascript' src="{% static 'validate/js/bootstrapValidator.min.js' %}"></script>
<script type='text/javascript'>
    $("#id_coach").hide();
    $("#id_coach").val({{user.pk}});

    $(document).ready(function() {
      $("#teamform").bootstrapValidator({
        feedbackIcons: {
          valid: 'fa fa-check',
          invalid: 'fa fa-times',
          validating: 'fa fa-refresh'
        },
        fields: {
          name: {
            message: 'Team name is not valid',
            validators: {
              notEmpty: {
                message: 'Team name is required'
              },
            }
          },
          year: {
            validators: {
              notEmpty: {
                message: 'Team year is required'
              },
            }
          },
        }
      });
    });
</script>
{% endblock %}
