{% extends "registration/base.html" %}
{% load staticfiles %}

{% block title %}Sign In{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'validate/css/bootstrapValidator.min.css' %}">
<style>
  #logform{
    width: 250px;
    margin: 0 auto;
  }
  #log_form{
    padding-left: 0px;
    padding-top: 40px;
  }
  a:hover{
    text-decoration: none;
  }
  .box{
    background-color: #eee;
  }
</style>
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3" id="log_form">
    {% if message %}
      <div class="alert alert-danger">{{message}}</div>
    {% endif %}
    <div class="box box-solid box-primary">
      <div class="box-header">
          <h3 class="box-title">Log In</h3>
      </div>
      <div class="box-body" style="display: block;">
        <form id="logform" role="form" name="LoginForm" action="/login/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <!-- <a href="#" class="text-center">Forgot password?</p> -->
          <button class="btn btn-success btn-block" type="submit">Log In</button>
          <input type="hidden" name="next" value="{% firstof next '/' %}" />
          <br>
        </form>
      </div><!-- /.box-body -->
  </div>
</div>

{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'validate/js/bootstrapValidator.min.js' %}"></script>
<script>
$(document).ready(function() {
      $("#logform").bootstrapValidator({
        feedbackIcons: {
          valid: 'fa fa-check',
          invalid: 'fa fa-times',
          validating: 'fa fa-refresh'
        },
        fields: {
          username: {
            message: 'Username is not valid',
            validators: {
              notEmpty: {
                message: 'Username is required'
              },
            }
          },
          password: {
            validators: {
              notEmpty: {
                message: 'Password is required'
              },
            }
          },
        }
    });
    // $("#regform").bootstrapValidator({
    //     feedbackIcons: {
    //       valid: 'fa fa-check',
    //       invalid: 'fa fa-times',
    //       validating: 'fa fa-refresh'
    //     },
    //     fields: {
    //       username: {
    //         message: 'Username is not valid',
    //         validators: {
    //           notEmpty: {
    //             message: 'Username is required'
    //           },
    //         }
    //       },
    //       email: {
    //         validators: {
    //           notEmpty: {
    //             message: 'Email is required'
    //           },
    //           emailAddress: {
    //             message: 'The input is not a valid email address'
    //           },
    //         }
    //       },
    //       password1: {
    //         validators: {
    //           notEmpty: {
    //             message: 'Password is required'
    //           },
    //           identical: {
    //             field: 'password2',
    //               message: 'Passwords do not match'
    //           },
    //         }
    //       },
    //       password2: {
    //         validators: {
    //           notEmpty: {
    //             message: 'Password Confirmation is required'
    //           },
    //           identical: {
    //             field: 'password1',
    //               message: 'Passwords do not match'
    //           },
    //         }
    //       },
    //     }
    // });
});
</script>
{% endblock %}
