{% extends "registration/base.html" %}
{% load staticfiles %}

{% block title %}Sign In{% endblock %}

{% block extrastyle %}
<style>
  #logform{
    width: 250px;
    margin: 0 auto;
  }
  #log_form{
    padding-left: 0px;
    padding-top: 40px;
  }
  #reg_form{
    padding-right: 0px;
    padding-top: 40px;
  }
  .panel{
    border: 0;
  }
  .panel-title{
    font-size: 2.8rem;
    color: white;
  }
  .panel-default > .panel-heading{
    background-color: #3498db;
  }
  .panel-default > .panel-body{
    background-color: #eee;
  }
</style>
{% endblock %}

{% block content %}
<div class="col-md-6" id="log_form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Log In</h2>
    </div>
    <div class="panel-body">
      <form id="logform" role="form" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button class="btn btn-success btn-block" type="submit">Log In</button>
        <input type="hidden" name="next" value="{% firstof next '/' %}" />
      </form>
    </div>
  </div>
</div>
<div class="col-md-6" id="reg_form">
    <div class="panel panel-default" id="log">
        <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
        </div>
        <div class="panel-body">
          <form id="logform" method="post" action="{% url 'registration' %}" >
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div id="div_id_username" class="form-group   required">   
              <div class="">
                <input class=" form-control" id="id_username" maxlength="30" name="username" type="text" placeholder="Username"/>
              </div>
            </div>
            <div id="div_id_email" class="form-group   required">
              <div class="">
                <input class=" form-control" id="id_email" name="email" type="email" placeholder="Email"/>
              </div>
            </div>
            <div id="div_id_password1" class="form-group   required">
              <div class="">
                <input class=" form-control" id="id_password1" name="password1" type="password" placeholder="Password"/>
              </div>
            </div>
            <div id="div_id_password2" class="form-group   required">
              <div class="">
                <input class=" form-control" id="id_password2" name="password2" type="password" placeholder="Password (again)"/>   
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-block" value="Register &rarr;">Register</button>
          </form>
        </div>
    </div> 
</div>

{% endblock %}

