{% extends "registration/base.html" %}
{% load staticfiles %}

{% block title %}Sign In{% endblock %}

{% block extrastyle %}
<style>
  #logform{
    width: 300px;
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block content %}

<div id="regform">

  <form id="logform" role="form" name="LoginForm" action="/login/" method="post">
    {% csrf_token %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <h2 class="form-signin-heading">Sign In</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button class="btn btn-success btn-block" type="submit">Sign in</button>
  </form>
  </br>
  <p class="text-center">If you don't have an account, please <a href="{% url 'registration' %}">register!</a></p>

</div> <!-- /container -->
  
{% endblock %}

