{% load staticfiles %}
<table class="table table-bordered table-striped" id="player_list">
	<thead>	
		<tr class="text-center">
			<th class="text-center">First Name</th>
			<th class="text-center">Last Name</th>
			<th class="text-center">Position</th>
			<th class="text-center">Class</th>
			<th class="text-center">Throw/Hit</th>
			<th class="text-center no-sort">Edit/Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for p in players %}
		<tr>
			<td class="text-center">{{p.first_name}}</td>
			<td class="text-center">{{p.last_name}}</td>
			<td class="text-center">{{p.position.all|join:" / " }}</td>
			<td class="text-center">{{p.class_standing}}</td>
			<td class="text-center">{{p.throws}}/{{p.hits}}</td>
			<td class="text-center"><button type="button" id="edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>