{% load staticfiles %}{% load bootstrap_tags %}
<table class="table table-bordered table-striped" id="player_list">
	<thead>	
		<tr class="text-center">
			<th class="text-center">First Name</th>
			<th class="text-center">Last Name</th>
			<th class="text-center">Position</th>
			<th class="text-center">Class</th>
			<th class="text-center">Throw/Hit</th>
			<th class="text-center">Edit/Delete</th>
		</tr>
	</thead>
	<tbody data-link="row" class="rowlink">
		{% for p in players %}
		<tr>
			<td class="text-center">{{p.first_name}}</td>
			<td class="text-center">{{p.last_name}}</td>
			<td class="text-center">{{p.position.all|join:" / " }}</td>
			<td class="text-center">{{p.class_standing}}</td>
			<td class="text-center">{{p.throws}}/{{p.hits}}</td>
			<td class="text-center"><button type="button" id="edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o"></i></button><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- New Player Modal -->
<div id="PlayerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="myModalLabel1">New Player</h3>
			</div>
			<div class="modal-body">
				<form role="form" id="form" action="{% url 'player_list' username=user name=name year=year %}" method="post">
					{% csrf_token %}
					<input type="hidden" class="form-group" id="id_pk" name="pk" value="change_this">
					<div class="form-group">
						{{ new_player_form | as_bootstrap }}
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-danger pull-left" name="delete" id="deleteButton">Delete</button>
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
						<button type="submit" class="btn btn-primary" name="new_player_modal" id="submitButton">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$('#add_new_player').click(function() {
		$('#PlayerModal #id_season').val({{team.pk}});
		$('#PlayerModal #div_id_season').hide();
		$('#PlayerModal').modal('show');
	});
</script>