{% extends "management/index_team.html" %}
{% load staticfiles %}
{% load i18n %}

<!-- Content -->
{% block header %}
    
{% endblock %}

{% block extrascript %}
<link rel="stylesheet" href="{% static 'css/chart.css' %}" />

<style>
	#field{
		background-image: url("{% static 'diamond.png' %}");
		height: 731px;
		margin-bottom:20px;
	}
	table th.sort-up,table th.sort-down{
		background-color: #B8B8B8 ;
	}
	th.sort-header {
	  cursor:pointer;
	}
	th.sort-header::-moz-selection,
	th.sort-header::selection {
	  background:transparent;
	}
	table th.sort-header:after {
	  content:'';
	  float:right;
	  margin-top:8px;
	  border-width:0 4px 4px;
	  border-style:solid;
	  border-color:black transparent;
	  visibility:hidden;
	}
	table th.sort-header:hover:after {
	  visibility:visible;
	}
	table th.sort-up:after,
	table th.sort-down:after,
	table th.sort-down:hover:after {
	  visibility:visible;
	  opacity:1;
	}
	table th.sort-up:after {
	  border-bottom:none;
	  border-width:4px 4px 0;
	}
	.hit_stats input[type="number"] {
	    width: 30px;
	}
	span select{
		width: 38px;
	}
	input { 
		text-align: center; 
	} 
	input[type="number"]{
	  font-size: 1rem;
	  border: 0;
	  color: black;
	  outline: none;
	  width: 2rem;
	  margin: auto .75rem;
	  text-align: center;
	}

	.partialinning input{
	  width: 1rem;
	}

	.partialinning::after{
	  content:"/ 3";
	  font-size: 1.2rem;
	  margin: 0 .75rem 0 -.75rem;
	  border-bottom: 2px solid black;
	}

/*	input[type='number']:invalid{
	  border-bottom: 2px dashed red;
	  color: red;
	}*/

	input[type='number']:valid{
	  border-bottom: 2px dotted black;
	  color: black;
	}

	input[type="number"]:focus{
	  border-bottom: 2px solid black;
	  color: black;
	}

	/* Remove the up/down arrows from input:number http://stackoverflow.com/a/4298216 */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
	#add-season{
		margin-right: 8px;
		margin-top: 7px;
	}
	#add-season a:hover{
		text-decoration: none;
	}
</style>

<script>
	$( document ).ajaxComplete(function() {
    	$('#editPlayerModal #id_team').val("{{teams.0.pk}}");
    	$('#save_depth_chart').click(function() {
    		$('#submitButton').click();
    	});
    	$('.dropElement').each(function() {
    		if ($(this).text() == "Left Field" ||
    			$(this).text() == "Center Field" ||
    			$(this).text() == "Right Field" ||
    			$(this).text() == "Shortstop" ||
    			$(this).text() == "Second Base" ||
    			$(this).text() == "Third Base" ||
    			$(this).text() == "Starting Pitcher" ||
    			$(this).text() == "First Base" ||
    			$(this).text() == "Relief Pitcher" ||
    			$(this).text() == "Catcher" ||
    			$(this).text() == "Designated Hitter") {
    				$(this).parent().addClass("position-danger");
    		};
    	});
    	$('.selectpicker').selectpicker();
	});
	$( document ).ajaxComplete(function() {
		$( ".draggable" ).draggable({ snap: ".ui-widget-header", helper: "clone" });
		$( ".droppable" ).droppable({ 
			drop: function( event, ui ) {
        		$( this ).find( "p" ).remove();
        		$( "<p id='dropElement'></p>" ).text( ui.draggable.text() ).appendTo( this );
        		var position_id = $(this).attr("id") ;
        		var player = ui.helper.context.innerText;
        		$('#editPlayerModal #id_' + position_id).val(player);
        		$(this).removeClass("position-danger");
            }
        });
	});
</script>
{% endblock %}

{% block content %}
<div class="container">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			Players <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#roster" data-toggle="tab" id="player_roster">Roster</a></li>
				<li><a href="#depthchart" data-toggle="tab" id="depth_chart">Depth Chart</a></li>
			</ul>
		</li>
		<li><a href="#schedule" data-toggle="tab" id="game_schedule">Schedule</a></li>
		<li><a href="#stats" data-toggle="tab" id="player_stats">Statistics</a></li>
		<div class="btn-group pull-right">
			<li class="pull-left" id="add-season"><a href="#"><span class="glyphicon glyphicon-plus"></span> Add Season</a></li>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{year}} <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				{% for s in seasons %}
					<li><a href="{% url 'season_detail' username=user name=name year=s.year %}">{{s.year}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</ul>
    <div id='content' class="tab-content">

		<div class="tab-pane active" id="home"></div>

		<div class="tab-pane" id="roster"></div>

		<div class="tab-pane" id="depthchart"></div>

		<div class="tab-pane" id="schedule"></div>

		<div class="tab-pane" id="stats"></div>
			
    </div>   

    <!-- Jake's Fake Model-->
    <div id="editPlayerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    				<h3 id="myModalLabel1">Edit Position</h3>
    			</div>
    			<div class="modal-body">
    				<form role="form" id="form" action="{% url 'season_detail' username=user name=name year=year %}" method="post">
    					{% csrf_token %}
    					<input type="hidden" class="form-group" id="id_pk" name="pk" value="change_this">
    					<div class="form-group">
    						{{ form }}
    					</div>

    					<div class="modal-footer">
    						<button type="submit" class="btn btn-danger pull-left" name="delete" id="deleteButton">Delete</button>
    						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
    						<button type="submit" class="btn btn-primary" name="update_modal" id="submitButton">Save</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/tablesort.min.js' %}"></script>
<script>
$('#player_roster').click(function (e) {
	e.preventDefault()
	$(this).tab('show');
    $.ajax({
        url : "{% url 'player_list' username=user name=name year=year %}",
        success: function(data){
            $('#roster').html(data);
        }
    });
    $('.dropdown-toggle').dropdown("toggle");
})

$('#game_schedule').click(function (e) {
	e.preventDefault()
	$(this).tab('show');
    $.ajax({
        url : "{% url 'game_list' username=user name=name year=year %}",
        success: function(data){
            $('#schedule').html(data);
        }
    });
    $('.dropdown-toggle').dropdown("toggle");
})

$('#player_stats').click(function (e) {
	e.preventDefault()
	$(this).tab('show');
    $.ajax({
        url : "{% url 'player_stats' username=user name=name year=year %}",
        success: function(data){
            $('#stats').html(data);
        }
    });
    $('.dropdown-toggle').dropdown("toggle");
})

$('#depth_chart').click(function (e) {
	e.preventDefault()
	$(this).tab('show');
    $.ajax({
        url : "{% url 'depth_chart' username=user name=name year=year %}",
        success: function(data){
            $('#depthchart').html(data);
        }
    });
    $('.dropdown-toggle').dropdown("toggle");
})
</script>

{% endblock %}