{% extends "management/index_team.html" %}
{% load staticfiles %}
{% load i18n %}

<!-- Content -->
{% block header %}
<h1>{{name}} {{year}} <small>Dashboard</small></h1>
{% endblock %}

{% block extrastyle %}
<style type='text/css'>
.table{
	margin-bottom: 0px;
	margin-top: 0px;
}
#select_box, .leaders{
	padding-left: 0;
	padding-right: 0;
}
.well, .box{
	padding-bottom: 0;
}
h5{
	text-decoration: underline;
}
.leaders{
	display: inline-block;
	width: 100%;
}
</style>
{% endblock %}

{% block sidelinks %}
<ul class="nav navbar-nav side-nav" id="side_nav">
	<li><a href="{% url 'season_detail' username=user name=name year=year %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> Players <b class="caret"></b></a>
	    <ul class="dropdown-menu">
	        <li><a href="{% url 'player_list' username=user name=name year=year %}"><i class="fa fa-th-list"></i> Roster</a></li>
	        <li><a href="{% url 'depth_chart' username=user name=name year=year %}"><i class="fa fa-picture-o"></i> Depth Chart</a></li>
	    </ul>
	</li>
	<li><a href="{% url 'game_list' username=user name=name year=year %}"><i class="fa fa-calendar"></i> Schedule</a></li>
	<li><a href="{% url 'player_stats' username=user name=name year=year %}"><i class="fa fa-bar-chart-o"></i> Statistics</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="col-md-12" id="select_box">
	<div class="well col-md-4">
		<h5>Select Statistical Leaders to Display</h5>
		<div class="form-group pull-left">
			<h6>Batting</h6>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="bat_avg"> Batting Average
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="obp_pct"> On-Base Percentage
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="slg_pct"> Slugging Percentage
				</label>
			</div>
		</div>
		<div class="form-group pull-right">
			<h6>Pitching</h6>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="era"> ERA
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="inn"> Innings
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="wins"> Wins
				</label>
			</div>
		</div>
	</div>
</div>
<div class="col-md-4 leaders" id="bat_avg_lead">
	<div class="box box-solid box-primary">
	    <div class="box-header">
	        <h3 class="box-title">Batting Average Leaders</h3>
	    </div>
	    {% if avgLeaders %}
	    <div class="box-body">
		  	<table class="table">
			  <thead>
			  	<tr>
			  		<th>Player</th>
			  		<th class="text-center">Average</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	{% for a in avgLeaders %}
			  	<tr>
			  		<th>{{a}}</th>
			  		<th class="text-center">{{a.average}}</th>
			  	</tr>
			  	{% endfor %}
			  </tbody>
			</table>
	    </div>
	    {% endif %}
	</div>
</div>

<div class="col-md-4 leaders" id="obp_pct_lead">
	<div class="box box-solid box-primary">
	    <div class="box-header">
	        <h3 class="box-title">On Base Percentage Leaders</h3>
	    </div>
	    {% if obpLeaders %}
	    <div class="box-body" style="display: block;">
		  	<table class="table">
			  <thead>
			  	<tr>
			  		<th>Player</th>
			  		<th class="text-center">On Base Percentage</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	{% for o in obpLeaders %}
			  	<tr>
			  		<th>{{o}}</th>
			  		<th class="text-center">{{o.on_base}}</th>
			  	</tr>
			  	{% endfor %}
			  </tbody>
			</table>
	    </div><!-- /.box-body -->
	    {% endif %}
	</div>
</div>

<div class="col-md-4 leaders" id="slug_pct_lead">
	<div class="box box-solid box-primary">
	    <div class="box-header">
	        <h3 class="box-title">Slugging Percentage Leaders</h3>
	    </div>
	    {% if slugLeaders %}
	    <div class="box-body" style="display: block;">
		  	<table class="table">
			  <thead>
			  	<tr>
			  		<th>Player</th>
			  		<th class="text-center">Slugging Percentage</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	{% for s in slugLeaders %}
			  	<tr>
			  		<th>{{s}}</th>
			  		<th class="text-center">{{s.slug}}</th>
			  	</tr>
			  	{% endfor %}
			  </tbody>
			</table>
	    </div><!-- /.box-body -->
	    {% endif %}
	</div>
</div>

<div class="col-md-4 leaders" id="era_lead">
	<div class="box box-solid box-primary">
	    <div class="box-header">
	        <h3 class="box-title">ERA Leaders</h3>
	    </div>
	    {% if eraLeaders %}
	    <div class="box-body" style="display: block;">
		  	<table class="table">
			  <thead>
			  	<tr>
			  		<th>Player</th>
			  		<th class="text-center">ERA</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	{% for e in eraLeaders %}
			  	<tr>
			  		<th>{{e}}</th>
			  		<th class="text-center">{{e.era}}</th>
			  	</tr>
			  	{% endfor %}
			  </tbody>
			</table>
	    </div><!-- /.box-body -->
	    {% endif %}
	</div>
</div>

<div class="col-md-4 leaders" id="inn_lead">
	<div class="box box-solid box-primary">
	    <div class="box-header">
	        <h3 class="box-title">Innings Leaders</h3>
	    </div>
	    {% if innLeaders %}
	    <div class="box-body" style="display: block;">
		  	<table class="table">
			  <thead>
			  	<tr>
			  		<th>Player</th>
			  		<th class="text-center">Innings</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	{% for i in innLeaders %}
			  	<tr>
			  		<th>{{i}}</th>
			  		<th class="text-center">{{i.innings}}</th>
			  	</tr>
			  	{% endfor %}
			  </tbody>
			</table>
	    </div><!-- /.box-body -->
	    {% endif %}
	</div>
</div>

<div class="col-md-4 leaders" id="win_lead">
	<div class="box box-solid box-primary">
	    <div class="box-header">
	        <h3 class="box-title">Wins Leaders</h3>
	    </div>
	    {% if winLeaders %}
	    <div class="box-body" style="display: block;">
		  	<table class="table">
			  <thead>
			  	<tr>
			  		<th>Player</th>
			  		<th class="text-center">Wins</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	{% for w in winLeaders %}
			  	<tr>
			  		<th>{{w}}</th>
			  		<th class="text-center">{{w.pitch_totals.win__sum}}</th>
			  	</tr>
			  	{% endfor %}
			  </tbody>
			</table>
	    </div><!-- /.box-body -->
	    {% endif %}
	</div>
</div>
{% endblock %}


{% block extrascript %}
<script type='text/javascript'>
$(document).ready(function () {
	$(".leaders").hide();

	$('#bat_avg').on("click", function() {
	    if (this.checked) {
	        $('#bat_avg_lead').show();
	    }
	    else {
	        $('#bat_avg_lead').hide();
	    }
	});
	$('#obp_pct').on("click", function() {
	    if (this.checked) {
	        $('#obp_pct_lead').show();
	    }
	    else {
	        $('#obp_pct_lead').hide();
	    }
	});
	$('#slg_pct').on("click", function() {
	    if (this.checked) {
	        $('#slug_pct_lead').show();
	    }
	    else {
	        $('#slug_pct_lead').hide();
	    }
	});

	$('#era').on("click", function() {
	    if (this.checked) {
	        $('#era_lead').show();
	    }
	    else {
	        $('#era_lead').hide();
	    }
	});
	$('#inn').on("click", function() {
	    if (this.checked) {
	        $('#inn_lead').show();
	    }
	    else {
	        $('#inn_lead').hide();
	    }
	});
	$('#wins').on("click", function() {
	    if (this.checked) {
	        $('#win_lead').show();
	    }
	    else {
	        $('#win_lead').hide();
	    }
	});
});
</script>
{% endblock %}
