{% extends "management/index_team.html" %}
{% load staticfiles %}
{% load i18n %}

<!-- Content -->
{% block header %}
<h1>{{name}} {{year}} <small>Dashboard</small></h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/chart.css' %}" />

<style>
	#field{
		background-image: url("{% static 'diamond.png' %}");
		height: 731px;
		width: 950px;
		margin-bottom:20px;
	}
	table th.sort-up,table th.sort-down{
		background-color: #B8B8B8 ;
	}
	th.sort-header {
	  cursor:pointer;
	}
	th.sort-header::-moz-selection,
	th.sort-header::selection {
	  background:transparent;
	}
	table th.sort-header:after {
	  content:'';
	  float:right;
	  margin-top:8px;
	  border-width:0 4px 4px;
	  border-style:solid;
	  border-color:black transparent;
	  visibility:hidden;
	}
	table th.sort-header:hover:after {
	  visibility:visible;
	}
	table th.sort-up:after,
	table th.sort-down:after,
	table th.sort-down:hover:after {
	  visibility:visible;
	  opacity:1;
	}
	table th.sort-up:after {
	  border-bottom:none;
	  border-width:4px 4px 0;
	}
	.hit_stats input[type="number"] {
	    width: 30px;
	}
	span select{
		width: 38px;
	}
	input {
		text-align: center;
	}
	input[type="number"]{
	  font-size: 1rem;
	  border: 0;
	  color: black;
	  outline: none;
	  width: 2rem;
	  margin: auto .75rem;
	  text-align: center;
	}

	.partialinning input{
	  width: 1rem;
	}

	.partialinning::after{
	  content:"/ 3";
	  font-size: 1.2rem;
	  margin: 0 .75rem 0 -.75rem;
	  border-bottom: 2px solid black;
	}

/*	input[type='number']:invalid{
	  border-bottom: 2px dashed red;
	  color: red;
	}*/

	input[type='number']:valid{
	  border-bottom: 2px dotted black;
	  color: black;
	}

	input[type="number"]:focus{
	  border-bottom: 2px solid black;
	  color: black;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
	#add-season{
		margin-right: 8px;
		margin-top: 7px;
	}
	#add-season a:hover{
		text-decoration: none;
	}
	#id_position{
		width: 125px;
	}
	#id_time, #id_time2{
		width: 70px;
		margin-right: 5px;
	}
	tfoot{
		border-top:5px solid #ddd;
	}
</style>
{% endblock %}

{% block sidelinks %}
<ul class="nav navbar-nav side-nav">
	<li><a href="{% url 'season_detail' username=user name=name year=year %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> Players <b class="caret"></b></a>
	    <ul class="dropdown-menu">
	        <li><a href="{% url 'player_list' username=user name=name year=year %}"><i class="fa fa-th-list"></i> Roster</a></li>
	        <li><a href="{% url 'depth_chart' username=user name=name year=year %}"><i class="fa fa-picture-o"></i> Depth Chart</a></li>
	    </ul>
	</li>
	<li><a href="{% url 'game_list' username=user name=name year=year %}"><i class="fa fa-calendar"></i> Schedule</a></li>
	<li><a href="{% url 'player_stats' username=user name=name year=year %}"><i class="fa fa-bar-chart-o"></i> Statistics</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="col-md-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
</div>
{% endblock %}

