{% extends "management/index_team.html" %}
{% load bootstrap_tags %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
<style>
  #wrapper{
    padding-right: 225px;
  }
  #left-nav, #block{
    margin-top: 20px;
  }
  #left-nav{
    padding-left: 0;
  }
  .panel{
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 20px;
    width: 500px;
  }
  .panel-default{
    margin-top: 20px;
    border-color: #d9534f;
  }
  .panel-default > .panel-heading{
    background-color: #d9534f;
    border-color: #d9534f;
    color: white;
  }
  .list-group-item:last-child, .list-group-item:first-child{
    border-radius: 0;
  }
  .btn-success{
    margin-top:0;
  }
</style>
{% endblock %}

{% block content %}
<div class="col-md-3" id="left-nav">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#account" data-toggle="tab">My Account</a></li>
    <li><a href="#teams" data-toggle="tab">My Teams</a></li>
  </ul>
</div>
<div class="col-md-8 col-md-offset-1" id="block">
    <div id='content' class="tab-content">
      <div class="tab-pane active" id="account">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
          </div>
          <div class="panel-body">
            <form role="form" action="{% url 'change_password' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input id="id_old_password" class="form-control" name="old_password" type="password" placeholder="Old Password">
              </div>
              <div class="form-group">
                <input id="id_new_password1" class="form-control" name="new_password1" type="password" placeholder="New Password">
              </div>           
              <div class="form-group">
                <input id="id_new_password2" class="form-control" name="new_password2" type="password" placeholder="Comfirm Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary" value="Change my password">Save</button>
                </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Delete Account</h3>
          </div>
          <div class="panel-body">
            Would you like to delete you account? <br><br>
            <button type="button" class="btn btn-danger">Delete Account</button>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="teams">
        <form role="form" action="{% url 'user_settings' username=user.username %}" method="post" enctype="multipart/form-data">
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{ form.name.value }}</h3>
          </div>
          <div class="panel-body">
              {% csrf_token %}
              {{ form.name | bootstrap }}
              <img src="{{ form.instance.logo.url }}" />
              {{ form.logo | bootstrap }}
              <button type="submit" class="btn btn-success">Save</button>
              <button type="submit" class="btn btn-danger pull-right">Delete Team</button>
          </div>
        </div>
        {% endfor %}
        </form>
      </div>
    </div>   
</div> 

{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'validate/js/bootstrapValidator.min.js' %}"></script>
<script>
    $("#id_coach").hide();
    $("#id_coach").val({{user.pk}});
</script>
{% endblock %}