{% extends "management/index.html" %}
{% load i18n %}

<!-- Content -->
{% block header %}
    
{% endblock %}

{% block extrascript %}
<script>

</script>

<style>
	table{
		margin-top: 20px;
	}

	ul{
		padding-left: 0px;
	}
	button{
		margin-top: 20px;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
<ul class="nav nav-tabs">
	<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		Players <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#roster" data-toggle="tab">Roster</a></li>
			<li><a href="#">Depth Chart</a></li>
		</ul>
	</li>
</ul>

    <div id='content' class="tab-content">
      <div class="tab-pane active" id="home">
        <ul>

        </ul>
      </div>
      <div class="tab-pane" id="roster">
      	<button type="button" class="btn btn-success">Add Player <span class="glyphicon glyphicon-plus"></span></button>
        <ul>
        	<table class="table table-bordered table-striped">
  				<thead>	
					<tr class="text-center">
						<th class="text-center">First Name</th>
						<th class="text-center">Last Name</th>
						<th class="text-center">Position</th>
						<th class="text-center">Class</th>
						<th class="text-center">Throw/Hit</th>
					</tr>
				</thead>
				<tbody data-link="row" class="rowlink" id="client_table">
					{% for p in players %}
					<tr>
						<td class="text-center">{{p.first_name}}</td>
						<td class="text-center">{{p.last_name}}</td>
						<td class="text-center">{{p.position.all|join:" / " }}</td>
						<td class="text-center">{{p.class_standing}}</td>
						<td class="text-center">{{p.throws}}/{{p.hits}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
        </ul>
      </div>
    </div>    

</div>

{% endblock %}